.landing {
  color: #1C6C89;
  font-size: 1em;
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: #CEF7F0;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../public/assets/backgroundLanding.png");
  text-align: center; }

.landing-cat-round {
  margin-top: -100%;
  opacity: 0;
  width: 80%;
  display: inline-block; }
  .landing-cat-round button {
    opacity: 0;
    background-color: #5CA1C2; }
  .landing-cat-round img {
    height: 100%;
    width: 100%; }
  .landing-cat-round h4 {
    padding-top: 10vh;
    opacity: 0; }

.wrapperCat {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around; }

.intro-cat-round {
  height: 55vh;
  margin-bottom: 7vh; }

.speechBubble {
  height: 30vh;
  width: 50vh;
  margin-top: 3vh;
  background-color: #FFFFFE;
  border-radius: 21px;
  opacity: 0.67; }

.speechBubble .inputContainer {
  width: 100%;
  color: #1C6C89;
  margin: 0; }
.speechBubble .inputField {
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid #1C6C89;
  width: 40%;
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  color: #1C6C89;
  margin: 0; }
.speechBubble .bottomLine {
  width: 0%;
  max-width: 40%;
  border-bottom: 2px solid;
  border-color: #1C6C89;
  transition: width 0.3s;
  margin: auto; }
.speechBubble .inputField:focus + div {
  width: 100%; }

.welcome {
  visibility: hidden;
  height: 100vh;
  width: 100vw;
  background-color: #5CA1C2;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../public/assets/breathingBG.png");
  text-align: center; }

.breathing {
  height: 100vh;
  width: 100vw;
  background-image: url("../public/assets/breathingBG.png");
  background-color: #A5E2DA;
  background-size: cover;
  background-repeat: no-repeat; }

.cat {
  height: inherit;
  width: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

#head {
  z-index: 999;
  margin-top: -4%; }

#belly {
  margin-top: -8%;
  z-index: 0;
  width: 160px; }

#legs {
  margin-top: -6%; }

#hands {
  position: absolute;
  z-index: 1;
  margin-top: 10%; }

.fractal {
  height: 100vh;
  width: 100vw;
  background-image: url("../../public/assets/bgGIF.png");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column; }
  .fractal img {
    height: 30%;
    width: 50%; }

.wrapperCat {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around; }

.kitty_helloName {
  height: 55vh;
  margin-bottom: 7vh; }

.speechBubble {
  height: 30vh;
  width: 50vh;
  margin-top: 3vh;
  background-color: #FFFFFE;
  border-radius: 21px;
  opacity: 0.67; }

.speechBubble p {
  margin-top: 10%; }

.btn-flat {
  border-radius: 23px !important;
  border: 2px solid #1C6C89 !important;
  color: #1C6C89 !important;
  margin-top: 10%; }

.btn, .btn-large, .btn-flat {
  line-height: 30px !important; }

.start {
  height: 100vh;
  width: 100vw;
  background-color: #CADFFF;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../public/assets/breathingBG.png");
  text-align: center; }

body {
  font-family: 'Lato', sans-serif;
  color: #1C6C89;
  letter-spacing: 1.4px; }

/*# sourceMappingURL=style.css.map */
