@import './partials/_colors';
@import './partials/_landing';
@import './partials/_intro';
@import './partials/_breathing';
@import './partials/_gifinfo';
@import './partials/_altintro';
body {
  font-family: 'Lato', sans-serif;
  color: $main-text;
  overflow: hidden;
  height: 100%;
  width: 100%;
}
