/*
 * THEME FOR MIA KNIGHT
 */


@font-face {
    font-family: 'archivo_blackregular';
    src: url('http://files.cargocollective.com/596183/archivoblack-webfont.eot');
    src: url('http://files.cargocollective.com/596183/archivoblack-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://files.cargocollective.com/596183/archivoblack-webfont.woff2') format('woff2'),
         url('http://files.cargocollective.com/596183/archivoblack-webfont.woff') format('woff'),
         url('http://files.cargocollective.com/596183/archivoblack-webfont.ttf') format('truetype'),
         url('http://files.cargocollective.com/596183/archivoblack-webfont.svg#archivo_blackregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
body, html {
  margin: 0;
  padding: 0;
}

body {
    background: #000000;
    color: #333333;
    font-size: 14px;
    line-height: 1.5;
    font-family:'Avenir LT W01_65 Medium1475532',sans-serif;
    text-transform: uppercase;
}

h1, h2, h3, h4 {
  font-family: sans-serif;
}

/*
 * Project navigation
 */
.project_navigation {
  	font-size: 12px;
  	position: fixed;
  	left: 0;
    top: 0;
    width: 240%;
    height: 100%;
 	z-index: 99;
    pointer-events: none;
}

.project_navigation_group {
    position: absolute;
    height: 100%;
    width: 100%;
    bottom: 0;
}

.project_navigation_group a {
	text-decoration: none;
    pointer-events: auto;
}

/* Hide the unecessary nav buttons */
.fullscreen_group,
.project_navigation_group .index_view,
.project_navigation_group .img_count {
	display: none !important;
}

/* Position the navigation arrows */
.navigation_buttons {

}
.navigation_buttons > a {
	position: absolute;
    bottom: 35%;
}
.navigation_buttons > .project_next {
	right: -30px;
}
.navigation_buttons > .project_prev {
	left: -30px;
}
/* The SVG arrow shapes */
.project_nav_button svg {
	width: 100px;
    height: 100px;
    fill: #fff;
    background-color: rgba(0,0,0,0);
}

/* The toggle project description button */
.toggle_text {
	bottom: 10px;
    position: absolute;
    left: 60px;
    font-weight: bold;
}
.toggle_text:after{
	content:"Project Info >"!important;
    color:white!important;
    text-transform:capitalize;
    font-size:14px;
}
.toggle_text svg {
	display: none;
}


/* The close button */
.close_group {
    bottom: 225px;
    left: 485px;
    width: 25px;
    height: 25px;
}

.project_close svg {
	width: 100%;
    height: 100%;
}



body.text_visible a.toggle_text .nav_svg {
  fill: #555555;
}

/*
 * Header / Navigation
 */

 #header {
  background: transparent;
  padding: 20px 60px;
  position: fixed;
  top: 0;
  left: 0;
  text-align: left;
  z-index: 100;
  font-family: 'archivo_blackregular',sans-serif;
}

.header_img {
  float: right;
  margin: 1px 5px 0 50px;
    display:none;
}

.nav_container a {
  padding: 0;
  text-decoration: none;
}

.project_link a, .page_link a {
  display: inline-block;
  font-size: 31px;
  font-weight: bold;
  height: 0.83em;
  line-height: 0.83em;
  color: #ffffff;
  letter-spacing: -.0625em;
  padding: 0 .0625em .0625em 0;
  margin-bottom: -.0625em;
}

#menu_9487326 {
	width:200px;
    height: auto;
    margin-top:50px;
}

#menu_9487326 a,
#menu_9487326 a:hover {
    height: auto;
}



.project_link a:after, .page_link a:after {
  content: ' ';
  display: block;
}

.project_link a:hover, .page_link a:hover, .project_link a:active, .page_link a:active, .nav_active a {
  	color: #434445;
    background-color: black;
}




.link_link a {
  color: #434445;
}

.link_link a:hover {
  color: #ffffff;
  text-decoration: underline;
}

.link_link a:active {
  color: #434445;
}

.nav_follow {
    color: #ffffff;
    z-index: 11;
}

.nav_follow a {
    color: #ffffff;
    text-decoration: none;
}

.nav_follow a:hover {
    color: #ffffff;
    text-decoration: underline;
}

.nav_follow a:active {
    color: #434445;
}

.pagination {
    margin: 0 0 20px 40px;
    color: #666666;
    float: left;
}

.pagination a {
    color: #434445;
    text-decoration: underline;
}

.pagination a:hover {
    color: #ffffff;
}

.pagination a:active {
    color: #434445;
}

#nav_loadspin {
    background: transparent;
    display: none!important;
    padding: 5px;
    position: absolute;
    top: 2px;
    left: 33px;
    z-index: 9;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

/* Fullscreen styles */

body.fullscreen .fullscreen_open {
    display: none;
}

body.fullscreen .fullscreen_close {
    display: block;
}

/*
 * Content
 */

 #content_container {
  padding: 40px;
}

.project #content_container {
  padding: 0;

}

#maincontainer {
  position: relative;

}

.project_title {
  color: #fff;
  font-size: 16pt;
  font-weight: bold;
  line-height: 1.3;
  margin: 1em 0 .5em;
  text-transform: uppercase;

}

.project_content {
  position: relative;

}

.sony{
    position:fixed!important;
	color:white!important;
    bottom:5%;
    left:57px;
    z-index:999999;
    display:block!important;
     font-family: 'archivo_blackregular',sans-serif;
    font-size:16px!important;
    display:none;
}

.sony a{
	color:white;
    text-decoration:none;
    font-size:24px!important;
    display:none;
}


.gif{
    width:50%!important;
	height:50px!important;
    position:absolute!important;

}
.project_content a {
  color: #333333;
  text-decoration: underline;
}

.project_content a:hover {
  background: #ffff00;
  color: #000000;
  text-decoration: none;
}

.project_content a:active {
  background: none;
  color: #999999;
}

.project_content br {
  clear: none !important;
}

.project_media {
  background: #000;
  position: fixed;
  top: 0; left: 0; bottom: 0; right: 0;
  z-index: 2;
}

.project_media.slideshow {
  cursor: pointer;

}

.project_media img {
  background: #1a1a1a;
  display: none;
  position: absolute;
  top: 0; left: 0;
}

.project_media iframe,
.project_media object,
.project_media embed {
  display: none;
  position: absolute;
  top: 0; left: 0;
  z-index: 1;
}


#fullscreen_embed {
    position: fixed;
    top: -100%;
    left: -100%;
    right: -100%;
    bottom: -100%;
    margin: auto;
    min-width: 100vw;
    min-height: 100vh;
    z-index: 99999;
}

.project_media .active {
  display: block;
}

.project_text, .contact-box {
  background: rgba(0,0,0,.6);
  color: white;
  display: none;

  position:fixed;
  min-height: 1px !important;
  left: 0;
  bottom: 0 !important;
  width: 450px;
  height: 200px;
  z-index: 98;

  font-size: 10pt;
  text-transform: initial;
  padding-left:60px;
  padding-bottom:50px;

}

.project_text b{
    font-family: 'archivo_blackregular';
    line-height:25px;
    font-weight:normal!important;

}

.project_text span {
	line-height: 1.8;
}

.project_text img {
  height: auto !important;
  width: auto !important;
  max-width: 420px;
}

.project_header {
  display: none;
}

.view_tag_info {
  color: #999999;
  margin: 0 0 40px 0;
}

.view_tag_info a {
  color: #999999;
  text-decoration: underline;
}

.view_tag_info a:hover {
  color: #ffffff;
}

.view_tag_info a:active {
  color: #999999;
}

/*
 * Default element styles
 */

 h1 {
  font-size: 22px;
  line-height: 26%;
}

h2 {
  font-size: 16px;
  line-height: 165%;
}

h3 {
  font-size: 14px;
  line-height: 150%;
}

blockquote {
  color: #666666;
  margin: 0;
}

/*
 * The conventional slideshow component is not used in this design
 * which is why the element is hidden below.
 */

 .slideshow_component {
  display: none;
}

/**
 * Fullscreen button
 */

 a#fullscreen {
  background-color: #1a1a1a;
  background-image: url(/_gfx/fullscreen_open.png);
  background-repeat: no-repeat;
  background-position: 67px 3px;
  border: 1px solid #1a1a1a;
  color: #bbbbbb;
  display: block;
  font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-size: 11px;
  line-height: 18px;
  height: 19px;
  padding: 0 4px 0 5px;
  text-align: left;
  text-decoration: none;
  width: 74px;
}

a#fullscreen:hover {
  background-color: #fff;
  color: #000;
}

a#fullscreen:active {
  background-color: #fff;
  border: 1px solid #999;
  color: #666;
}

/*
 * Project footer
 */

    .project_footer {
      display: inline-block !important;
      vertical-align: top;
      width: 23%;
      padding: 0 2%;
      display:none!important;
    }

    .comment_link a {
      color: #999999;
    }

    .comment_link a:hover {

    }

    .footer_title_type {
      font-weight: bold;
    }

    .project_footer .permalink a {
      color: #0000ff;
      text-decoration: none;
    }

    .project_footer .permalink a:hover {
      color: #000000;
      text-decoration: underline;
    }

    .project_footer .permalink a:active {
      color: #666666;
    }

    .tags {
      color: #ffffff;
    }

    .tags a {
      display: block;
      color: #333;
      text-decoration: none;
    }

    .tags a:before {
      content: "– ";
    }

    .tags a:hover {
      color: #333333;
      text-decoration: underline;
      background-color: #0000FF;
    }

    .tags a:active {
      color: #666666;
    }

    .project_footer .project_views {
      display: block;
    }

    .project_footer .editlink a {
      color: #0066ff;
    }

    .project_footer .editlink a:hover {
      color: #333333;
    }

    .project_footer .editlink a:active {
      color: #555555;
    }

    .project_bottom {
      clear: both;
    }

/*
 * Project thumbnails
 */

 .project_thumb {
  cursor: pointer;
  float: left;
  margin: 0 40px 40px 0;
  position: relative;
  text-align: center;
}

.project_thumb .hover {
  cursor: pointer;
  text-decoration: none;
}

.project_thumb .nohover {
  text-decoration: none;
}

.project_thumb:hover .thumb_info {
  display: block;
}

.project_thumb:active {
  margin: 1px 40px 39px 0;
}

.project_thumb.active .cardimgcrop {

}

/**
 * When making adjustments to the thumbnail size in your display options
 * also adjust the width and height of this class.
 */
 .cardimgcrop {
  background: #252525;
  position: relative;
  height: 200px;
  width: 200px;
  z-index: 0;
}

.loader_holder {
  background: #ffffff;
  display: none;
  padding: 5px;
  position: absolute;
  text-align: center;
  top: 0px; left: 0px;
  z-index: 1;
}

.thumb_info {
  background: #ffffff;
  display: none;
  position: absolute;
  bottom: 0;
}

.thumb_info.tagged {
  right: 0;
}

.thumb_title {
  left: 0;
  max-width: 189px;
  overflow: hidden;
  text-align: left;
  padding: 3px 4px 3px 7px;
  white-space: nowrap;
  z-index: 9;

  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis;
}

.thumb_title.notag {
  bottom: 0px;
}

.thumb_title .text {
  color: #000000;
  font-size: 12px;
  font-weight: normal;
  line-height: 1.5em;
  overflow: hidden;
  white-space: nowrap;
  text-align: center;
}

.thumb_tag {
  color: #999999;
  height: 1.5em;
  line-height: 15px;
  overflow: hidden;
  margin: -7px 0 0 0;
  padding: 3px 4px 3px 7px;
  text-align: left;
  max-width: 170px;
}

.thumb_tag a {
  color: #999999;
  font-size: 12px;
  line-height: 1.5em;
  text-decoration: none;
}

.thumb_tag a:hover {
  color: #000000;
  text-decoration: underline;
}

.thumb_tag a:active {
  color: #666666;
  text-decoration: underline;
}

/*
 * Search results
 */

 #search_form {

 }

 #search_form #search_term {
  background: #191919;
  border: 1px solid #333333;
  color: #333333;
  font-size: 12px;
  width: 188px;
}

.search_header {
  color: #666666;
  float: left;
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  margin: 0;
  padding: 4px 0;
  width: 145px;
}

#search_term {
  background: #000000;
  border: 1px solid #333333;
  color: #cccccc;
  float: left;
  font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 5px;
  width: 220px;
}

#search_results {
  clear: both;
  color: #666666;
  float: left;
}

.result {
  clear: both;
  font-size: 14px;
  line-height: 22px;
  margin-top: 40px;
}

.search_thumb {
  float: left;
  margin: 4px 25px 35px 0px;
}

.search_thumb img {
  width: 120px; height: auto;
}

.search_text {
  width: 500px;
  margin-left: 145px;
}

.search_title a {
  color: #00AF8A;
  font-weight: bold;
  text-decoration: underline;
}

.search_title a:hover {
  color: #ffffff;
}

.search_title a:active {
  color: #666666;
}

.search_tags {
  color: #666666;
  font-size: 11px;
}

.search_tags a {
  color: #666666;
}

.search_tags a:hover {
  color: #cccccc;
}

.search_tags a:active {
  color: #666666;
}

.bottompad {
  clear: both;
  position: relative;
  width: 705px;
}

.bottompad a {
  padding: 2px 3px 2px 3px;
}

/*
 * Video / Audio components
 */

 .video_component {
  float: left;
  margin: 0 15px 15px 0;
}

.video_tag,
video,
.mediaplayer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100% !important;
  width: 100% !important;
}

.audio_component {
  color: #777777;
  font-family: 'Droid Sans Mono', Monaco, Monospace, Arial, san-serif;
  font-size: 10px;
  height: 30px;
  line-height: 26px;
  width: 425px;
  margin-right:0px !important;
}

.audio_component div {
  height: 26px;
}

.audio_component .border {
  border: 2px solid #aaaaaa;
  opacity: 0.5;

  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  filter: alpha(opacity=50);
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
}

.audio_component .vertical_border {
  background: #aaaaaa;
  opacity: 0.50;

  filter: alpha(opacity=50);
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
}

.audio_component .controls {
  top: 2px; left: 2px;
}

.audio_component .play_pause {
  background: url("/_gfx/playpause.png");
}

.audio_component .spectrum .spectrum_bar {
  background: #666666;
}

.audio_component .loading {
  background: #bbbbbb;
  opacity: 0.25;

  filter: alpha(opacity=25);
  -moz-opacity: 0.25;
  -khtml-opacity: 0.25;
}

.audio_component .progress {
  background: #bbbbbb;
  border-right: 1px dotted #333333;
  opacity: 0.25;

  filter: alpha(opacity=25);
  -moz-opacity: 0.25;
  -khtml-opacity: 0.25;
}

.audio_component .volume_slide.hover {
  background: #bbbbbb;
  opacity: 0.3;

  filter: alpha(opacity=30);
  -moz-opacity: 0.3;
  -khtml-opacity: 0.3;
}

/*
 * Other
 */

 .toolset {
  position: fixed;
  top: 10px; right: 10px;
  z-index: 9999;
  display:none!important;
}

/* "Running on Cargo" */

.cargo_link {
  color: transparent;
  overflow: hidden;
  text-indent: -9999px;
  position: absolute;
  top: -999px; left: -999px;
  width: 20px; height: 20px;
    display:none;
}

.cargo_link a {
  background: url(/_gfx/bolt-sc.png) no-repeat center;
  display: block;
  font-size: 11px;
  overflow: hidden;
  position: fixed;
  bottom: 18px; right: 18px;
  text-indent: -9999px;
  width: 20px; height: 20px;
  z-index: 9999;
}

/*
 * IE / iOS Fallbacks
 */

 .ie .fullscreen_group {
  display: none;
}

.ie_video .project_media {
  top: 84px !important;
}

.ie_old .project_navigation_group {
  background: #333333;
}

.ie_old.text_visible .project_navigation_group {
  background: #cccccc;
}

.ie_old #header {
  background: none;
}

.ie_old a.project_nav_title {
  width: 230px;
}

/*
 * IE SVG fallback used in the navigation.
 *
 *     If you have any questions about this please visit our
 *     support forum: http://support.cargocollective.com
 *
 */

 .ie .project_navigation svg {
  display: none;
}

.ie a.project_nav_button {
  background-image: url(/_gfx/landsat_navigation_sprite.png);
  background-repeat: no-repeat;
}

.ie a.project_nav_button.project_prev {
  background-position: 0 0;
}

.ie a.project_nav_button.project_prev:hover {
  background-position: 0 -30px;
}

.ie a.project_nav_button.project_prev:active {
  background-position: 0 0;
}

.ie a.project_nav_button.index_view {
  background-position: -30px 0;
}

.ie a.project_nav_button.index_view:hover {
  background-position: -30px -30px;
}

.ie a.project_nav_button.index_view:active {
  background-position: -30px 0;
}

.ie a.project_nav_button.project_next {
  background-position: -59px 0;
}

.ie a.project_nav_button.project_next:hover {
  background-position: -59px -30px;
}

.ie a.project_nav_button.project_next:active {
  background-position: -59px 0;
}

.ie a.project_nav_button.fullscreen_open {
  background-position: -90px 0;
}

.ie a.project_nav_button.fullscreen_open:hover {
  background-position: -90px -30px;
}

.ie a.project_nav_button.fullscreen_open:active {
  background-position: -90px 0;
}

.ie a.project_nav_button.fullscreen_close {
  background-position: -120px 0;
}

.ie a.project_nav_button.fullscreen_close:hover {
  background-position: -120px -30px;
}

.ie a.project_nav_button.fullscreen_close:active {
  background-position: -120px 0;
}

.ie a.project_nav_button.toggle_text {
  background-position: -150px 0;
}

.ie a.project_nav_button.toggle_text:hover {
  background-position: -150px -30px;
}

.ie a.project_nav_button.toggle_text:active {
  background-position: -150px 0;
}

.ie a.project_nav_button.project_close {
  background-position: -180px 0;
}

.ie a.project_nav_button.project_close:hover {
  background-position: -180px -30px;
}

.ie a.project_nav_button.project_close:active {
  background-position: -180px 0;
}



.video-container, .video-container iframe, .video-container .text {
  position: absolute;
  top: 0;
  left: 0;
}
.video-container, .video-container iframe {
  max-width: 100%;
  height: 100%;
}
.video-container {
    position: fixed;
    width: 100%;
 	display:none;
  	background-color: rgba(0,0,0,.70);
  	z-index: 101;
  	cursor: pointer;
}
.video-container.visible {
    display: block;
}
.video-container .text {
   	left:0;
    right:0;
    position:fixed;
  	top: 45%!important;
  	line-height:10px;
  	text-align:center;
    max-width:100%;
  	margin: 0 auto;

  color: #fff;
  z-index: 2;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}


.video-container img{
	max-width:20%;
    height:auto;
}

.next-project {
  display: block;
  position: fixed;
  width: 100%;
  height: 70px;
  bottom: 0;
  background-color: transparent;
  z-index: 10;
  cursor: none;
}

.slide-control {
  position: absolute;
  z-index: 10;
  cursor: none;
}

.slide-control p {
  color: #000;
}

.project_text .back-block, .contact-box .back-block {
  display: block;
}

.project_text .back, .contact-box .back {
  display: inline;
  font-size: 10pt;
  color: #77888a;
  text-decoration: none;
  border-bottom: 1px solid #77888a;
  cursor: pointer;
}

.project_text .back:hover, .contact-box .back:hover {
  color: #fb4100;
  text-decoration: none;
  border-bottom: 1px dotted #fb4100;
}

.project_text hr, .contact-box hr {
  display:block;
  height:1px;
  border:0;
  border-top:1px solid #fff;
  margin:2em 0;
  padding:0;
}

.project_text_inner {
  display: inline-block;
  vertical-align: top;
  width: 55%;
  padding-right: 10%;
}




.no-cursor:hover {
  cursor: none;
}

/*CONTACT-BOX*/
/*
.contact-text {
  display: inline-block;
  vertical-align: top;
  position: relative;
  text-align: left;
  width: 70%;
  margin: 3em 10% 0 0;
  padding: 0;
}
.contact-links {
  display: inline-block;
  vertical-align: top;
  width: 19%;
  margin-top: 5em;
}
.contact-links ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.contact-links li {
  margin: 1em 0 1em;
}
.contact-links a {
  color: #77888a;
  text-decoration: none;
  border-bottom: 1px solid #77888a;
  white-space: nowrap;
}
.contact-links a:hover {
  color: #fb4100;
  text-decoration: none;
  border-bottom: 1px dotted #fb4100;
}
.col {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 47%;
  padding: 0 1% 0 0;
  z-index: 10;
}
.cycle-container {
  text-align: center;
  width: 100%;
  height: 100px;
  margin: 0;
  overflow: hidden;
}
.sexyCycle {
  height: 100%;
  min-height: 100px;
}*/

/* About page */
.aboutoverlay {
	position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    z-index:3;
    background:rgba(0,0,0,.4);
}

.aboutpage {
	display:none;
    position:absolute;
    color:white;
    max-width:100%;
    padding-left:300px;
    padding-right:0px;
    margin:0 auto;
    font-size:17px;
    text-transform:none;
    left:0;
    right:0;
    top:490px;
    bottom:0;
    z-index:999999;
}


.aboutcol {
	float:left;
	display: inline-block;
	position: relative;
	vertical-align: top;
	width: 46% !important;
    padding:0px 40px 20px 40px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-align:left;
}

.quotes {
	position: absolute;
    top: 0;
    left: 0;
}

.quotes .quote {
	margin-top: 4rem;
}

.quotes .quote:first-child {
	margin-top: 0;
}

.quotes2,
.quotes3 {
    opacity: 0;
}

.quotes1 {
	animation: quotes1 60s infinite;
}

.quotes2 {
	animation: quotes2 60s infinite;
}

.quotes3 {
	animation: quotes3 60s infinite;
}


@keyframes quotes1 {
	0% {
		opacity: 1;
	}
    32% {
		opacity: 1;
	}
    33% {
		opacity: 0;
	}
    99% {
		opacity: 0;
	}
    100% {
		opacity: 1;
	}
}

@keyframes quotes2 {
	32% {
		opacity: 0;
	}
    33% {
		opacity: 1;
	}
    65% {
		opacity: 1;
	}
    66% {
		opacity: 0;
	}
}


@keyframes quotes3 {
	65% {
		opacity: 0;
	}
    66% {
		opacity: 1;
	}
    99% {
		opacity: 1;
	}
    100% {
		opacity: 0;
	}
}


.quotemark {
    width: 15px;
    height: 15px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center top;
    display: inline-block;
    vertical-align: baseline;
    margin-right: 5px;
}

.closeWhite, .closeGray {
    margin-right: 0;
    margin-left: 5px;
}

.openWhite {
	background-image: url('http://files.cargocollective.com/596183/openQuotes_white.png');
}

.closeWhite {
	background-image: url('http://files.cargocollective.com/596183/closeQuotes_white.png');
}

.openGray {
	background-image: url('http://files.cargocollective.com/596183/openQuotes_gray.png');
}

.closeGray {
	background-image: url('http://files.cargocollective.com/596183/closeQuotes_gray.png');
}

.gray {
    color:#a7a9ac;
}




#social{
	margin-top: 15px;
    padding-bottom: 50px;
    padding: 0;
}
#social > li {
	margin-right: 5px;
    display: inline-block;
}
#social > li:last-child {
	margin-right: 0;
}
#social > li > a,
#social > li > a:visited {
	text-decoration: none;
    color: #fff;
}
#social > li > a:hover {
    color: #a7a9ac ;
}

.socialIcon {
    background-size: 13px;
    background-repeat: no-repeat;
    padding-left: 18px;
    background-position: left center;
}

/* Email icon */
.em {
	background-image: url('http://files.cargocollective.com/596183/email.png');
}
.em:hover {
	background-image: url('http://files.cargocollective.com/596183/email_over.png');
}

/* LinkedIn icon */
.li {
	background-image: url('http://files.cargocollective.com/596183/linkedin.png');
}
.li:hover {
	background-image: url('http://files.cargocollective.com/596183/linkedin_over.png');
}

/* Pinterest icon */
.pi {
	background-image: url('http://files.cargocollective.com/596183/pinterest.png');
}
.pi:hover {
	background-image: url('http://files.cargocollective.com/596183/pinterest_over.png');
}

/* Facebook icon */
.fb {
	background-image: url('http://files.cargocollective.com/596183/facebook.png');
}
.fb:hover {
	background-image: url('http://files.cargocollective.com/596183/facebook_over.png');
}

/* Download icon */
.dl {
	background-image: url('http://files.cargocollective.com/596183/download.png');
}
.dl:hover {
	background-image: url('http://files.cargocollective.com/596183/download_over.png');
}
