<div class="avatar page" data-animate-in="intoAvatar" data-animate-out="outOfAvatar">
    <span id="avatar-header">Select an animal</span>
    <div class="carousel_container">
      <div class="carousel_items">
        <ul class="carousel-list">
          <li class="carousel_item animated">
            <img src="../assets/images/landing/catLanding.svg" />
          </li>
          <li class="carousel_item animated">
            <img src="../assets/images/landing/dogLanding.svg" />
          </li>
          <li class="carousel_item animated">
            <img src="../assets/images/landing/pandaLanding.svg" />
          </li>
        </ul>
      </div>
      <div class="nav_dots"></div>
    </div>
    <a href="#narration" id="landing-button" class="btn-floating btn-large waves-effect waves-light animated"><i id="landing-material-icon" class="material-icons">pets</i></a>
    </div>
