<div class="breathing page" data-animate-in="infoToCatView" data-animate-out="outOfBreathing">
  <div id="breathing-menu">
    <div id="menu-options">
      <i id="audio-controls" class="material-icons">volume_up</i>
      <a href="#avatar"><i id="breathing-settings" class="material-icons">settings</i></a>
      <i id="breathing-info" class="material-icons">info_outline</i>
    </div>
    <div id="modal-breathing-instructions">
      <span id="modal-instructions">Instructions</span>
      <ul>
        <li>Get yourself comfortable and follow my breathing when ready. I'll guide you!</li><br>
        <li>Don't worry if you can't keep up. Just breathe as slowly and deeply as you can. Allow yourself some time to get into a regular rhythm.</li><br>
        <li>Keep doing this for two to five minutes or until you feel better. The longer you breathe deeply, the calmer you will feel!</li><br>
      </ul>
      <i id="exit-modal-button" class="material-icons">keyboard_arrow_up</i>
    </div>
  </div>
  <!-- <li>Feel how your belly moves in towards your spine, away from your hand. Now breathe out so that your belly moves back against your hand.</li><br>
  <li>Now follow my breathing – when I grow bigger, gently breathe in through your nose. Then, without pausing or holding your breath, breathe out through your nose or your mouth when my belly moves in.</li><br>-->
  <p class="fading-message" id="first-msg">Place your hand on your belly..</p>
  <p class="fading-message" id="second-msg">And follow me..</p>
  <p class="fading-message" id="third-msg">Breathe deeply and slowly..</p>
  <p class="fading-message" id="fourth-msg">Feel your belly move up and down..</p>
  <p class="fading-message" id="fifth-msg">Remember, breathe deeply and slowly</p>
  <p class="fading-message" id="after-two-min">Well done. That's two minutes</p>
  <p class="fading-message" id="after-five-min">It's been 5 minutes<br>Welldone!</p>
  <div class="character">${avatar}</div>
  <div id="feel-good-modal">
    <a href="#welldone" id="feel-good-button">I'M FEELING BETTER</a>
  </div>
</div>
