<div class="breathing page" data-animate-in="infoToCatView" data-animate-out="outOfBreathing">
  <div id="breathing-menu">
    <div id="menu-options">
      <i id="audio-controls" class="material-icons">volume_up</i>
      <a href="#avatar"><i id="breathing-settings" class="material-icons">settings</i></a>
      <i id="breathing-info" class="material-icons">info_outline</i>
    </div>
    <div id="modal-breathing-instructions">
      <span id="modal-instructions">Instructions</span>
      <ul>
        <li>Get yourself comfortable and follow my breathing when ready. I'll guide you!</li><br>
        <li>Don't worry if you can't keep up. Just breathe as slowly and deeply as you can. Allow yourself some time to get into a regular rhythm.</li><br>
        <li>Keep doing this for two to five minutes or until you feel better. The longer you breathe deeply, the calmer you will feel!</li><br>
      </ul>
      <i id="exit-modal-button" class="material-icons">keyboard_arrow_up</i>
    </div>
  </div>
  <p class="fading-message" id="first-msg">place one hand on your belly..</p>
  <p class="fading-message" id="second-msg">..and follow me..</p>
  <p class="fading-message" id="third-msg">breathe deeply and slowly..</p>
  <p class="fading-message" id="fourth-msg">as I grow, gently breathe in through your nose..</p>
  <p class="fading-message" id="fifth-msg">..and breathe out, without pause, as I shrink</p>
  <p class="fading-message" id="sixth-msg">on inhale, let your belly balloon out</p>
  <p class="fading-message" id="seventh-msg">then feel your belly shrink as your chest expands..</p>
  <p class="fading-message" id="eigth-msg">...and grow again as you exhale..</p>
  <p class="fading-message" id="ninth-msg">this is how we practice deep breathing</p>
  <p class="fading-message" id="tenth-msg">..one continuous motion without pause..</p>
  <p class="fading-message" id="eleventh-msg">..deeply and slowly..</p>
  <p class="fading-message" id="after-two-min">well done! that's two minutes..</p>
  <p class="fading-message" id="after-five-min">it's been 5 minutes<br>welldone!</p>

  <div class="character">${avatar}</div>
  <div id="feel-good-modal">
    <a href="#welldone" id="feel-good-button">I'M FEELING BETTER</a>
  </div>
</div>
