<div class="breathing page" data-animate-in="infoToCatView" data-animate-out="outOfBreathing">
  <div id="breathing-menu">
    <div id="menu-options">
      <i id="audio-controls" class="material-icons">volume_up</i>
      <a href="#avatar"><i id="breathing-settings" class="material-icons">settings</i></a>
      <i id="breathing-info" class="material-icons">info_outline</i>
    </div>
    <div id="modal-breathing-instructions">
      <span id="modal-instructions">Instructions</span>
      <p>
        When I feel worried or upset, I take slow, deep breaths to make my belly move up and down.  This helps me to feel more calm and relaxed. <br><br>
        Whenever you're feeling anxious, find a place you can stand, sit or lie down comfortably. Place your hands on your belly and breathe with me.
      </p>
      <i id="exit-modal-button" class="material-icons">keyboard_arrow_up</i>
    </div>
  </div>
  <p class="fading-message" id="first-msg">Breathe deeply..</p>
  <p class="fading-message" id="after-two-min">It's been 2 minutes</p>
  <p class="fading-message" id="after-five-min">It's been 5 minutes<br>Welldone!</p>
  <div class="cat">${avatar}</div>
  <a href="#welldone" id="feel-good-button" class="feel-good-button waves-effect waves-teal">I'M FEELING BETTER</a>
</div>
