<div class="credits page" data-animate-in="intoCredits" data-animate-out="outOfCredits">
  <p>Breathe with Me was first created during a hackathon hosted by the London and South East CYP IAPT Learning Collaborative in September 2016. The resulting app is a collaboration between the Learning Collaborative and Founders and Coders. For more information about the product and to provide feedback, please email <br></br> <a href="mailto:hack@annafreud.org">hack@annafreud.org</a></p>
  <a href="#avatar"><i id="back-icon" class="material-icons">arrow_back</i></a>
</div>
