<div id="landing" class="page" data-animate-in="startLanding" data-animate-out="exitLanding">
  <img id="mountain1" src="../assets/images/blueMountains/mountainFront2.svg" />
  <img id="mountain2" src="../assets/images/blueMountains/mountainMiddle.svg" />
  <img id="mountain3" src="../assets/images/blueMountains/mountainBack.svg" />

  <div id="alt-info-box" class="text-box">
    <h3>Hello, What is your name?</h3>
    <input id="input-username" type="text" autocomplete="off">
    <p id="input-validation">Please enter a name!</p>
    <a href="#avatar" class="waves-effect waves-light btn-flat" id="name-question-button">Submit</a>
  </div>
</div>
