<div class="narration page" data-animate-in="landingToInfo" data-animate-out="outOfInfo">
  <img id="mountain1" src="../assets/images/blueMountains/mountainFront2.svg" />
  <img id="mountain2" src="../assets/images/blueMountains/mountainMiddle.svg" />
  <img id="mountain3" src="../assets/images/blueMountains/mountainBack.svg" />
  <div class="breathing-information text-box">
    <h4 id="landing-username">Hi</h4>
    <p>When I feel worried or upset, I take slow, deep breaths to make my belly move up and down.  This helps me to feel more calm and relaxed. <br><br>
      Whenever you're feeling anxious, find a place you can stand, sit or lie down comfortably. Place your hands on your belly and breathe with me.
    </p>
    <a href="#breathe" class="breathing-start waves-effect waves-light btn-flat" id="start-breathing-cat-button">Start</a>
 </div>
</div>
