<div class="welldone page" data-animate-in="breathingToWelldone" data-animate-out="welldoneToIntro">
  <?xml version="1.0" encoding="UTF-8" standalone="no"?>
  <img id="welldone-stars" src="../assets/images/welldone/stars.svg" alt="blinking stars" />
  <img id="welldone-banner" src="../assets/images/welldone/banner.svg" alt="banner says well done" />
  <span class="welldone-user"></span><br>
  <a href="#avatar" id="start-again" class="feel-good-button waves-effect waves-teal">START AGAIN</a>
  <img class="welldone-mountain1 animated" src="../assets/images/redMountains/mountainWelldoneFront.svg" />
  <img class="welldone-mountain2 animated" src="../assets/images/redMountains/mountainWelldoneMiddle.svg" />
  <img class="welldone-mountain3 animated" src="../assets/images/redMountains/mountainWelldoneBack.svg" />
  <a href="#credits"><i id="credits-icon" class="material-icons">info_outline</i></a>
</div>
