//Breathing

.breathing {
  height: 100%;
  min-width: 100%;
  position: absolute;
  background-color: #A5E2DA;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 0;
}

.mountain3 {
  z-index: 0;
  top: 100%;
  position: absolute;
  text-align: center;
  width: 100vw;

  .material-icons {
    position: absolute;
    z-index: 10;
    color: #1C6C89;
    float: left;
    font-size: 24px;
  }
}

.feel-good-button {
    padding-left: 28px;
    padding-right: 28px;
    border-radius: 23px!important;
    background-color: transparent!important;
    border: 2px solid $main-text!important;
    color: $main-text!important;
    margin-top: 10%;
    line-height: 30px!important;
}


#feel-good-button {
  margin-bottom: -5%;
}

.cat {
  height: inherit;
  width: inherit;
  opacity: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sync-breath-text {
 position: absolute;
 top: 3%;
 bottom: 90%;
 margin: 0px;
 text-align: center;
 visibility: hidden;
}

#extra-breathing-instructions {
  display: none;
}

@media screen and (min-height: 600px) {
  #extra-breathing-instructions {
    display: block;
  }
}

#head {
  z-index: 4;
  margin-top: -4%;
}

#belly {
  margin-top: -8%;
  z-index: 2;
  width: 160px;
}

#legs {
  margin-top: -6%;
  z-index: 1;
}

#hands {
  position: absolute;
  z-index: 3;
  margin-top: 2%;
}
