//Breathing

.breathing {
  height: 92vh;
  width: 100vw;
  background-image: url('../public/assets/breathingBG.png');
  background-color: #A5E2DA;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;

  .material-icons {
    color: #1C6C89;
    float: left;
    font-size: 24px;
  }

  p {
    margin-bottom: 0px;
  }
}

.cat {
  height: inherit;
  width: inherit;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  // .btn-flat{
  //   margin: 3vh;
  // }
}

#head {
  z-index: 999;
  margin-top: -4%;

}
#belly {
  margin-top: -8%;
  z-index: 0;
  width: 160px;
}

#legs {
  margin-top: -6%;
}

#hands {
  position: absolute;
  z-index: 1;
  margin-top: 3%;
}
