
.btn-flat{
  border-radius: 23px!important;
  border: 2px solid white!important;
  color: white!important;
  margin-top: 10%;
  font-size: 16px!important;
}

.btn, .btn-large, .btn-flat {
  line-height: 30px!important;
}

.start {
  height: 100vh;
  width: 100vw;
  background-color: $background-start;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('../public/assets/breathingBG.png');
  text-align: center;
}
