.fractal {
  position: absolute;
  display: none;
  height: 100vh;
  width: 100vw;
  // background-image: url('../public/assets/bggif.png');
  // background-size: cover;
  // background-repeat: no-repeat;
  // text-align: center;
   .wrapperGIF {
     position: absolute;
     height: 100vh;
     width: 100vw;
     display: flex;
     justify-content: flex-end;
     align-items: center;
     flex-direction: column;
      img {
        // position: absolute;
        height: 36%;
        z-index: 1;
      }
  }
  .material-icons {
    color: rgba(255, 255, 255, 1);
    float: left;
    font-size: 24px;
    z-index: 4;
    position: absolute;
  }
  .material-icons .md-light .md-inactive {
    color: rgba(255, 255, 255, 0.3);
  }
}

#fractalBG {
  width: 100%;
  height: 120%;
  position: absolute;
  z-index: 0;

}
