.fractal {
  position: absolute;
  // visibility: collapse;
  display: none;
  height: 100vh;
  width: 100vw;
  background-image: image('public/assets/bggif.png');
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  // z-index: 0;
   .wrapperGIF {
     height: 95.7746478873vh;
     width: 100vw;
     display: flex;
     justify-content: flex-end;
     align-items: center;
     flex-direction: column;
    //  z-index: 1;
      img {
        height: 32%;
      }
  }
  .material-icons {
    color: rgba(255, 255, 255, 1);
    float: left;
    font-size: 24px;
  }
  .material-icons .md-light .md-inactive {
    color: rgba(255, 255, 255, 0.3);
  }
}
