//Intro page

.wrapper-cat {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.intro-cat-round {
  height: 55vh;
  margin-bottom: 7vh;
}

.welcome {
  display: none;
  height: 100vh;
  width: 100vw;
  background-color: $background-intro;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('../../public/assets/breathingBG.png');
  text-align: center;
}
