//Intro page

.wrapperCat {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.intro-cat-round {
  height: 55vh;
  margin-bottom: 7vh;
}

.speechBubble {
  height: 30vh;
  width: 50vh;
  margin-top: 3vh;
  background-color: #FFFFFE;
  border-radius: 21px;
  opacity: 0.67;
}

//inputField
.speechBubble {

  .inputContainer {
      width: 100%;
      color: $main-text;
      margin: 0;

  }

  .inputField {
      border: 0;
      outline: 0;
      background: transparent;
      border-bottom: 1px solid $main-text;
      width: 40%;
      font-size: 16px;
      font-family: 'Lato', sans-serif;
      color: $main-text;
      margin: 0;
  }

  .bottomLine {
      width: 0%;
      max-width: 40%;
      border-bottom: 2px solid;
      border-color: $main-text;
      transition: width 0.3s;
      margin:auto;
  }

  .inputField:focus + div {
      width: 100%;
  }
}

.welcome {
  visibility: hidden;
  height: 100vh;
  width: 100vw;
  background-color: $background-intro;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('../public/assets/breathingBG.png');
  text-align: center;
}
