.landing {

  font-size: 1em;
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: $background-landing;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('../public/assets/backgroundLanding.png');
  text-align: center;

}

.landing-cat-round {
  margin-top: -100%;
  opacity: 0;
  width: 80%;
  display: inline-block;

  button {
    opacity: 0;
    background-color: $buttons;
  }
  img {
    height: 100%;
    width: 100%;
  }

  h6 {
    padding-top: 8vh;
    opacity: 0;
  }

}
