//start page

.wrapperCat {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.kitty_helloName{
  height: 55vh;
  margin-bottom: 7vh;
}

.speechBubble {
  height: 30vh;
  width: 50vh;
  margin-top: 3vh;
  background-color: #FFFFFE;
  border-radius: 21px;
  opacity: 0.67;
}
.speechBubble p {
margin-top: 10%;
}
//buttons

.btn-flat{
  border-radius: 23px!important;
  border: 2px solid $main-text!important;
  color: $main-text!important;
  margin-top: 10%;
}

.btn, .btn-large, .btn-flat {
line-height: 30px!important;
}
.noga-button:hover, .noga-button-large:hover {
    background-color: transparent;
    border-radius: 23px;
    border: 2px solid $main-text;
    color: $main-text;

}

.btn, .btn-large {
    text-decoration: none;
    color: #fff;
    text-align: center;
    letter-spacing: .5px;
    transition: .2s ease-out;
    cursor: pointer;
}

.button_wide {
border: 2px solid $main-text;
background-color: transparent;
border-radius: 23px;
/* START: */
width: 34%;
height: 20%;
font-family: Lato-Regular;
font-size: 13px;
text-align: center;
color: $main-text;
letter-spacing: 0.5px;
line-height: 17px;
transition-duration: 0.4s;
// -webkit-transition-duration: 0.4s; /* Safari */
cursor: pointer;
}

.button_wide:hover {
  background-color: #D8D8D8;
    color: $main-text;
}

.start {
  position: absolute;
  // visibility: collapse;
  display: none;
  height: 100vh;
  width: 100vw;
  background-color: $background-start;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('../public/assets/breathingBG.png');
  text-align: center;
}
