.welldone {
  position: absolute;
  // visibility: collapse;
  display: none;
  height: 100vh;
  width: 100vw;
  // background-color: $background-intro;
  // background-size: cover;
  // background-repeat: no-repeat;
  // background-image: url('../public/assets/background-white.png');
  text-align: center;

  // .gradient {
  //   display: none;
  //   height: 100%;
  //   width: 100%;
  //   overflow-x: hidden;
  //   overflow-y: hidden;
  //   position: absolute;
  //   z-index: 0;
  //   /* can be treated like a fallback */
  //     background-color: #494A97;
  //   /* will be "on top", if browser supports it */
  //   background-image: linear-gradient(#494A97, #091A3E);
  //
  //   span {
  //     padding-top: 1em;
  //   }
  // }

  #start-again {
    border-radius: 21px;
    background-color: transparent;
    margin-top: 15vh;
    margin-bottom: 8vh;
    padding: 0.5vh 6vw 0.5vh 6vw;
  }

  .material-icons {
    float: left;
    margin-left: 1.5vw;
    margin-top: 1vh;
  }
}
