.welldone {
  // visibility: collapse;
  display: none;
  height: 100vh;
  width: 100vw;
  background-color: #494A97;
  text-align: center;
  justify-content: center;;
  align-items: center;
  flex-direction: column;

  #start-again {
    padding-left: 28px;
    padding-right: 28px;
    border-radius: 23px!important;
    border: 2px solid white!important;
    color: white!important;
    margin-bottom: 8vh;
    line-height: 30px!important;
  }

  .welldoneUser {
    z-index: 10;
    color: white;
    height: 30%;
    width: 60%;
    text-align: center;
    position: absolute;
    bottom: 50%;
    left: 20%;
    font-size: 2em;
  }

  .material-icons {
    position: absolute;
    color: white;
    bottom: 95%;
    right: 90%;
    margin-left: 1.5vw;
    margin-top: 1vh;
  }

  .welldone-mountain1 {
    width: 101%;
    z-index: 10;
    top: 100%;
    position: absolute;
  }

  .welldone-mountain2 {
    width: 101%;
    z-index: 5;
    top: 100%;
    position: absolute;
  }

  .welldone-mountain3 {
    width: 101%;
    z-index: 2;
    top: 100%;
    position: absolute;
  }
}

.welldone-svg-wrapper {
  text-align: center;
  #welldone-banner {
    position: absolute;
    bottom: 100%;
    left: 20%;
    width: 60%;
  }
  #welldone-stars {
    opacity: 0;
    position: absolute;
    z-index: 10;
    top: 5.5vh;
    left: 10%;
    width: 80%;
  }
}
