.avatar {
  font-size: 1em;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  height: 100%;
  text-align: center;
  opacity: 0;
}

#avatar-header {
font-family: $Amatic;
font-size: 2.5em;
position: absolute;
left: 0;
right: 0;
margin: 0 auto;
top: 3%;
}

#landing-material-icon {
  font-size: 2.6rem!important;
}
