//Breathing
.breathing {
  height: 100%;
  background-color: transparent;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 0;
}

#mountain3 {
  z-index: 0;
  top: 100%;
  position: absolute;
  max-width: inherit;
  text-align: center;
  will-change: transform;

  .material-icons {
    position: absolute;
    z-index: 10;
    color: #1C6C89;
    float: left;
    font-size: 24px;
  }
}


#breathing-menu {
  background-color: $modal-menu;
  height: 7%;
  width: 100%;
  z-index: 10;
  opacity: 0;
}

#audio-controls {
  position: absolute;
  left: 0px;
  top: 0px;
  background: transparent;
  transform: translateY(50%);
  padding-left: 3%;
  z-index: 15;
}

#settings {
  position: absolute;
  right: 0px;
  top: 0px;
  background: transparent;
  transform: translateY(50%);
  padding-right: 3%;
  z-index: 15;
}

#info {
  position: relative;
  display: block;
  text-align: center;
  margin: auto;
  background: transparent;
  transform: translateY(50%);
  z-index: 15;
}

// #exit-breathing {
//   position: absolute;
//   margin-right: -20px;
//   opacity: 0;
// }

#feel-good-button {
  opacity: 0;
  position: absolute;
  left: 20%;
  right: 20%;
  text-align: center;
  bottom: 20px;
  border-radius: 23px!important;
  background-color: transparent!important;
  border: 2px solid $main-text!important;
  color: $main-text!important;
  margin: 0 auto;
  line-height: 37px!important;
  width: 200px;
  height: 40px;
  text-align: center;
  font-family: $Raleway;
  will-change: transform;
}

.cat {
  position: relative;
  max-width: inherit;
  margin: 0 auto;
  will-change: transform;
  top: 35px;

  svg, a {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    max-width: inherit;
    margin: 0 auto;
  }
}

.sync-breath-text {
  margin: 0px 1em;
  text-align: center;
  opacity: 0;
}


@media screen and (min-height: 600px) {
  #extra-breathing-instructions {
    display: block;
  }
}

  #head {
    z-index: 10;
    top: 33px;
    will-change: transform;
  }

  #belly {
    top: 170px;
    z-index: 2;
    will-change: transform;
  }

  #legs {
    top: 390px;
    z-index: 1;

  }

  #hands {
    top: 220px;
    z-index: 30;
  }
