#breathing-menu {
  position: fixed;
  background-color: $modal-menu;
  height: 7%;
  width: 100%;
  z-index: 10;
  opacity: 0;
  max-width: inherit;
}

#audio-controls {
  position: absolute;
  left: 0px;
  top: 0px;
  background: transparent;
  transform: translateY(50%);
  padding-left: 3%;
  z-index: 20;
}

#breathing-settings {
  position: absolute;
  right: 0px;
  top: 0px;
  background: transparent;
  transform: translateY(50%);
  padding-right: 3%;
  z-index: 20;
}

#breathing-info {
  position: relative;
  display: block;
  text-align: center;
  margin: auto;
  background: transparent;
  transform: translateY(50%);
  z-index: 15;
}

#modal-breathing-instructions {
  display: none;
  opacity: 0;
  color: white;
  padding: 2.2em;

    p {
      font-family: $Raleway;
      font-size: 1.1em;
      text-align: center;
      padding-top: 10%;
    }
}

#exit-modal-button {
  display: block;
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  vertical-align: bottom;
  font-size: 36px;
}

#modal-instructions {
  font-family: $Amatic;
  font-size: 2.5em;
  position: relative;
  display: block;
  text-align: center;
  margin: auto;
}

#first-msg {
  display: none;
  color: #1C6C89;
  position: fixed;
  opacity: 0;
  top: 7%;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
}

#after-two-min {
  display: none;
  color: #1C6C89;
  position: fixed;
  opacity: 0;
  top: 7%;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
}

#after-five-min {
  display: none;
  color: #1C6C89;
  position: fixed;
  opacity: 0;
  top: 7%;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
}


#feel-good-button {
  opacity: 0;
  position: absolute;
  left: 20%;
  right: 20%;
  text-align: center;
  bottom: 5%;
  border-radius: 23px!important;
  background-color: transparent!important;
  border: 2px solid $main-text!important;
  color: $main-text!important;
  margin: 0 auto;
  line-height: 37px!important;
  width: 200px;
  height: 40px;
  text-align: center;
  font-family: $Raleway;
  will-change: transform;
}

.cat {
  position: relative;
  max-width: inherit;
  margin: 0 auto;
  will-change: transform;
  top: 60px;

  svg, a {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    max-width: inherit;
    margin: 0 auto;
  }
}

.sync-breath-text {
  margin: 0px 1em;
  text-align: center;
  opacity: 0;
}

@media screen and (min-height: 600px) {
  #extra-breathing-instructions {
    display: block;
  }
}

@media screen and (max-height: 568px) {
  .cat {
    top: 10px;
  }
}

#head {
  z-index: 10;
  top: 63px;
  will-change: transform;
}

#belly {
  top: 200px;
  z-index: 2;
  will-change: transform;
}

#legs {
  top: 420px;
  z-index: 1;

}

#hands {
  top: 250px;
  z-index: 30;
}
