
.carousel-list {
  padding: 0;
  list-style-type: none;

}
.carousel_container {
  text-align: center;
  height: 100%;
	position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 3%;
  width: 300px;
	overflow: hidden;
}

.carousel_items {
  position: absolute;
  top: 40px;
  width: 300px;
  height: 300px;
  opacity: 1;
	position: relative;
	cursor: default !important;
}

.carousel_item, .carousel_item img {
	float:left;
  text-align: center;
  border-radius: 50%;
  overflow: hidden;
  width: 300px;
  height: 300px;
  margin-bottom: 50px;
}

@media screen and (max-height: 620px) {
  .carousel_container {
    width: 280px;
  }
  .carousel_items, .carousel_item, .carousel_item img  {
    width: 280px;
    height: 280px;
  }
}

@media screen and (min-height: 720px) {
  .carousel_container {
    width: 320px;
  }
  .carousel_items, .carousel_item, .carousel_item img  {
    width: 320px;
    height: 320px;
  }
}

.nav_dot:hover {
	cursor: pointer;
}

.item_next {
	left: 900px;
  top: 0px;
  background-color: transparent;
}

.item_prev {
  display: none;
  left: 900px;
  top: 66px;
  background-color: transparent;
}

.nav_dots {
	position: relative;
	bottom: -2px;
	margin-left: auto;
	margin-right: auto;
	z-index: 5001;
  padding: 0px;
  margin-top: 20px;
  text-align: center;
}

.nav_dot {
	width: 6px;
	height: 6px;
	border: 1px solid $main-text;
	background-color: $main-text;
	border-radius: 50%;
  padding: 3px;
  margin: 5px;
  display: inline-block;
}


.grab {
  cursor: -webkit-grab;
  cursor: -moz-grab;
}

.grabbing {
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
}
