#credits-icon {
  color: $main-text;
  bottom: 5px;
  right: 5px;
  position: absolute;
  z-index: 9999;
  opacity: 0.8;
}

.credits {
  opacity: 0;
  display: none;
  text-align: center;
  color: white;

  p {
    line-height: 2em;
    margin-top: 100px;
    margin-left: 20px;
    margin-right: 20px;

  }
  a {
    color: white;
  }
}

#back-icon {
  color: white;
  top: 5px;
  left: 5px;
  position: absolute;
  z-index: 9999;
  opacity: 0.8;
}
