#mountain1,
#mountain2,
#mountain3 {
  width: 100%;
  position: absolute;
  bottom: 0;
  will-change: transform;
}

#mountain1 {
  z-index: 0;
}

#mountain2 {
  z-index: -1;
}

#mountain3 {
  z-index: -3;
}

.text-box {
  position: absolute;
  left: 0;
  right: 0;
  width: 60%;
  color: white;
  margin: 30px auto 0;
  text-align: center;
  font-size: 1.25em;
}

.breathing-start{
  margin-top: 1em;
  font-size: 1em;
  z-index: -1;
}

#start-breathing-cat-button {
  display: block;
  margin: 1.5em auto;
}

#input-focus {
  border-bottom: 2px solid #ffffff;
}
