#mountain1,
#mountain2,
#mountain3 {
  width: 100%;
  position: absolute;
  bottom: -80px;
  will-change: transform;
}

#mountain1 {
  z-index: 0;
}

#mountain2 {
  z-index: -1;
}

#mountain3 {
  z-index: -3;
}

.text-box {
  color: white;
  position: absolute;
  left: 0;
  right: 0;
  margin: 2em auto 0;
  width: 60%;
  text-align: center;
}

.breathing-information {
  width: 95%;
  color: white;
  margin: 5px auto 0;
  text-align: center;
  font-size: 1.2em;
}

.breathing-start{
  margin-top: 1em;
  font-size: 1em;
  z-index: -1;
}

#start-breathing-cat-button {
  display: block;
  width: 110px;
  height: 36px;
  margin: 1.5em auto;
}

#alt-info-box {
  margin-top: 100px;
}

#input-username {
  border-bottom: 2px solid #ffffff;
}
