#mountain1.dog {
  fill: #FDEDB3;
}

#mountain2.dog {
  fill: #FD9C9D;
}

#mountain3.dog {
  fill: #DFC4D8;
}

#mountain1.cat {
  fill: #CEF7F0;
}

#mountain2.cat {
  fill: #3FA1B3;
}

#mountain3.cat {
  fill: #1C6C86;
}

#mountain1.panda {
  fill: #CFDCFF;
}

#mountain2.panda {
  fill: #A685B4;
}

#mountain3.panda {
  fill: #4942A5;
}
