<div class="alt-intro">
  <img class="mountain1" src="./public/assets/mountainFront2.png" alt="" />
  <img class="mountain2" src="./public/assets/mountainMiddle.png" alt="" />
  <img class="mountain4" src="./public/assets/mountainBack.png" alt="" />
  <div class="alt-info-box">
    <span>Hello, What is your name?</span>
    <input id="input-focus" type="text" name="name" value="" autocomplete="off">
    <button class="waves-effect waves-light btn-flat" id="name-question-button" type="button" name="button">Submit</button>
  </div>
  <div class="breathing-information">
    <span class="name">Hi</span><br>
    <span>When I feel worried or upset, I take slow, deep breaths to make my belly move up and down.  This helps me to feel more calm and relaxed. <br><br>
    Whenever you're feeling anxious, find a place you can stand, sit or lie down comfortably. Place your hands on your belly and breathe with me. </span>
    <button class="breathing-start waves-effect waves-light btn-flat" id="start-breathing-cat-button" type="button">Start</button>
  </div>
</div>
