<div class="alt-intro page" data-animate-in="landingToInfo" data-animate-out="outOfInfo">
  <a name="info"></a>
  <img id="mountain1" src="./newSVG/blueMountains/mountainFront2.svg" alt="" />
  <img id="mountain2" src="./newSVG/blueMountains/mountainMiddle.svg" alt="" />
  <img id="mountain4" src="./newSVG/blueMountains/mountainBack.svg" alt="" />
  <div class="alt-info-box">
    <span>Hello, What is your name?</span>
    <input id="input-focus" type="text" name="name" value="" autocomplete="off">
    <button class="waves-effect waves-light btn-flat" id="name-question-button" type="button" name="button">Submit</button>
  </div>
  <div class="breathing-information">
    <span class="name">Hi</span><br>
    <span>When I feel worried or upset, I take slow, deep breaths to make my belly move up and down.  This helps me to feel more calm and relaxed. <br><br>
    Whenever you're feeling anxious, find a place you can stand, sit or lie down comfortably. Place your hands on your belly and breathe with me. </span>
    <a href="#breathe"><button class="breathing-start waves-effect waves-light btn-flat" id="start-breathing-cat-button" type="button">Start</button></a>
  </div>
</div>
